
{{#contentFor 'title'}}
   - About
{{/contentFor}}

{{#contentFor 'tail'}}
  <link href="styles/about.css" type="text/css" rel="stylesheet">
{{/contentFor}}


<div class="section full-page">

  <h1>Error Sending Email</h1>

  <div class="vc-content">
    <p class="center">Oops, it looks like something went wrong trying to send an email.  Please try again, or email us directly at lindasland@gmail.com</p>

    <br>
    <br>

    <a href="/">Return to Home Page</a>

  </div>

</div>
