
{{#contentFor 'tail'}}
  <link href="styles/index.css" type="text/css" rel="stylesheet">

  <script type="application/javascript" src="scripts/index.js"></script>
  <script type="application/javascript" src="scripts/slideshow.js"></script>
{{/contentFor}}


<!-- SPLASH SCREEN -->
<div class="splash-fullscreen-fixed vc-container" id="main-splash">
  <div class="bg" id="bg-image" style="background-image: url(resources/images/pasture.jpg);"></div>

  <div class="vc-content">
    <h1 class="no-margin">Linda Carter</h1>
    <hr class="white">
    <h3 class="center">Ranch Broker</h3>
    <a class="button" href="#">View Properties</a>
  </div>
</div>
<!-- Offsetting element -->
<div class="splash-fullscreen vc-container background"></div>


<!-- FARMS RANCHES TIMBER -->
<div class="section vc-container top">
  <div class="vc-content">
    <h2>Farms, Ranches and Timber</h2>
    <p class="center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non rhoncus odio. Praesent gravida convallis turpis, et pretium leo laoreet a. Curabitur euismod hendrerit justo eget tincidunt. Proin laoreet nisi ac quam facilisis, non ullamcorper eros viverra. Cras suscipit non metus quis lobortis. Proin eget sodales massa, a tempor nibh. Curabitur aliquet, erat sed pharetra pharetra, ipsum sem consectetur lacus, eget efficitur sapien urna eget velit.
    </p>
    <h3 class="lg-margin">Featured Property</h3>
    <div class="slideshow" id="featured-slideshow">
      <div class="image-container">
        <img class="slide" src="resources/images/gate.jpg">
        <img class="slide" src="resources/images/cattle.jpg">
        <img class="slide" src="resources/images/road.jpg">
      </div>

      <div class="slideshow-button prev">< <</div>
      <div class="slideshow-button next">> ></div>
    </div>
  </div>
</div>


<!-- ABOUT US -->
<div class="section vc-container" id="about-us">
  <div class="bg" id="about-us-img" style="background-image: url(resources/images/letters.jpg);"></div>
  <div class="vc-blurb">
    <h2>A Personal Touch</h2>
    <p class="center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non rhoncus odio. Praesent gravida convallis turpis, et pretium leo laoreet a. Curabitur euismod hendrerit justo eget tincidunt. Proin laoreet nisi ac quam facilisis, non ullamcorper eros viverra. Cras suscipit non metus quis lobortis. Proin eget sodales massa, a tempor nibh. Curabitur aliquet, erat sed pharetra pharetra, ipsum sem consectetur lacus, eget efficitur sapien urna eget velit.
    </p>
    <p class="center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non rhoncus odio. Praesent gravida convallis turpis, et pretium leo laoreet a. Curabitur euismod hendrerit justo eget tincidunt. Proin laoreet nisi ac quam facilisis, non ullamcorper eros viverra. Cras suscipit non metus quis lobortis.
    </p>
  </div>
</div>


<!-- OTHER SECTION -->
<div class="section vc-container bottom">
  <div class="vc-content">
    <h2>Drop Us a Line</h2>
    <p class="center">
      Whether you are looking to buy or sell, we would love to hear from you.
    </p>
    <div class="contact-form">
      <h4>Email</h4>
      <input type="text" name="email" placeholder="Your Email Address Here">
      <h4>Subject</h4>
      <select name="subject" title="title">
        <option>Looking to BUY</option>
        <option>Looking to SELL</option>
        <option>Request more information</option>
        <option>Other</option>
      </select>
      <h4>Body</h4>
      <textarea name="body" placeholder="Your Message Here"></textarea>
      <input type="submit" value="Send" class="button">
    </div>
  </div>
</div>
