
{{#contentFor 'tail'}}
  <link href="styles/index.css" type="text/css" rel="stylesheet">

  <script type="application/javascript" src="scripts/index.js"></script>
  <script type="application/javascript" src="scripts/slideshow.js"></script>
  <script type="application/javascript" src="scripts/echo.min.js"></script>
{{/contentFor}}


<!-- SPLASH SCREEN -->
<div class="splash-fullscreen-fixed vc-container" id="main-splash">
  <div class="bg" id="bg-image" style="background-image: url(resources/images/cow-1.jpg);"></div>

  <div class="vc-content">
    <h1 class="no-margin">Linda Carter</h1>
    <hr class="white">
    <h3 class="center">Ranch Broker</h3>
    <a class="button" href="land">View Properties</a>
  </div>
</div>
<!-- Offsetting element -->
<div class="splash-fullscreen vc-container background"></div>


<!-- FARMS RANCHES TIMBER -->
<div class="section vc-container top">
  <div class="vc-content">
    <h2>Farms, Ranches and Timber</h2>
    <p class="center">
      Welcome to Linda's Land: your official web site for everything you ever wanted in a Farm, Ranch, or piece of hunting land in East and West Texas. We work in counties from Harrison to Howard county.
    </p>
    <h3 class="lg-margin-top">Featured Property</h3>

    <p class="center">
      A gorgeous 3,606 acre timber investment in Bowie County.  View <a href="land">properties</a> for more information.
    </p>

    <div class="slideshow" id="featured-slideshow">
      <div class="modal-backdrop">
        <div class="slideshow-body">
          <div class="image-container">
            {{#each images}}
              {{#if @first}}
                <img class="slide active" src="resources/images/blank.gif" data-echo="{{this}}">
              {{else}}
                <img class="slide" src="resources/images/blank.gif" data-echo="{{this}}">
              {{/if}}
            {{/each}}
          </div>

          <div class="slideshow-button prev">< <</div>
          <div class="slideshow-button next">> ></div>
          <div class="close-icon">X</div>
          <div class="slide-counter">/</div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- ABOUT US -->
<div class="section vc-container" id="about-us">
  <div class="bg" id="about-us-img" style="background-image: url(resources/images/letters.jpg);"></div>
  <div class="vc-blurb">
    <h2>A Family Company</h2>
    <p class="center">
      Linda Carter Brokerage is a family owned and operated company that has always specialized in land.  We have been in business since Linda was pregnant with Melanie 40 years ago.  Melanie has been her assistant and they have been working together as a mother-daughter team for the past 19 years.  We are a team of self-starters and take pride in the business that we have created.
    </p>
    <p class="center">
      We believe that business is personal, and that is why we still handwrite all of our letters.  We seal our envelopes and drop them in the mail ourselves.  We guarantee a personal touch.
    </p>
  </div>
</div>


<!-- CONTACT US -->
<div class="section vc-container bottom">
  <div class="vc-content">
    <h2>Drop Us a Line</h2>
    <p class="center">
      Whether you are looking to buy or sell, we would love to hear from you.
    </p>
    <form name="contact-form" class="contact-form" onsubmit="return validateForm()" action="send" method="post">
      <h4>Email</h4>
      <input type="text" name="email" placeholder="Your Email Address Here">
      <div class="error-msg" id="email-error">Please enter valid email</div>

      <h4>Subject</h4>
      <select name="subject" title="title">
        <option>Looking to BUY</option>
        <option>Looking to SELL</option>
        <option>Request more information</option>
        <option>Other</option>
      </select>

      <h4>Body</h4>
      <textarea name="body" placeholder="Your Message Here"></textarea>
      <div class="error-msg" id="body-error">Body cannot be blank</div>

      <input type="submit" value="Send" class="button">
    </form>
  </div>
</div>
