
{{#contentFor 'title'}}
  - Properties
{{/contentFor}}

{{#contentFor 'tail'}}
  <link href="styles/land.css" type="text/css" rel="stylesheet">

  <script type="application/javascript" src="scripts/land.js"></script>
  <script type="application/javascript" src="scripts/slideshow.js"></script>
{{/contentFor}}


<div class="section full-page">

  <h1>Properties</h1>

  <div class="vc-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor dapibus justo, imperdiet accumsan dui tincidunt et. Curabitur cursus, sapien at ullamcorper semper, sem lorem condimentum quam, malesuada vestibulum arcu tellus volutpat augue. Sed vel arcu luctus nisi semper consequat id in enim. Aenean vestibulum ultricies sem eu mattis. Vestibulum cursus, justo fermentum tristique malesuada, massa diam blandit massa, eu tristique nisl sem sit amet turpis. Mauris sagittis consectetur velit eget ullamcorper. Aliquam erat volutpat. Sed mattis facilisis enim quis vehicula. Cras sollicitudin, enim in faucibus elementum, est risus luctus leo, sed consequat arcu metus a metus. Nullam suscipit, elit dapibus tempus volutpat, dolor sem porta urna.</p>

    <h3>Baller Property One</h3>
    <div class="row">
      <div class="col image">

        <div class="slideshow" id="prop-slideshow-1">
          <div class="modal-backdrop">
            <div class="slideshow-body">
              <div class="image-container">
                <img class="slide" src="resources/images/gate.jpg">
                <img class="slide" src="resources/images/cattle.jpg">
                <img class="slide" src="resources/images/road.jpg">
              </div>

              <div class="slideshow-button prev">< <</div>
              <div class="slideshow-button next">> ></div>
              <div class="close-icon">X</div>
            </div>

            <div class="label has-fullscreen">View Full-Screen</div>
          </div>
        </div>

      </div>
      <div class="col text-blurb">
        <h3>All This Info</h3>
        <p>Nulla finibus, tortor id lobortis molestie, justo metus sodales nisl, a rhoncus urna dui id ligula. In hac habitasse platea dictumst. Nunc nisl leo, facilisis ac pretium sit amet, rutrum sollicitudin nibh. Praesent lobortis, magna id volutpat auctor, sapien ante sagittis purus, vel facilisis quam erat sollicitudin nulla. In tristique cursus faucibus. Curabitur non neque aliquam, tincidunt augue vel, fringilla augue. Curabitur et dolor et enim pellentesque auctor vel vel arcu. Donec vitae ligula at urna cursus lobortis. Integer a ultricies diam. Proin ut ex id enim tincidunt viverra a eu dolor.</p>
      </div>
    </div>
    <div>MAP GOES HERE</div>
    <!-- TODO Add maps -->
  </div>

</div>
