@import "variables";

body {
  padding: 0;
  margin: 0;
  min-width: 300px;
  color: $off-black;
  line-height: 1.5;
  font-size: 18px;
  background-color: $dark-gray;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body.scroll-lock {
  overflow: hidden;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 42px;
  text-transform: uppercase;
  color: $black-gray;
  font-weight: 900;
}
h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 32px;
  text-transform: uppercase;
  color: $dark-gray;
  font-weight: 900;
}
h3 {
  font-family: 'Playfair Display SC', serif;
  font-size: 24px;
  color: $dark-gray;
}
h3.lg-margin {
  margin: 20px 0;
}
h4 {
  font-family: 'Playfair Display SC', serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-gray;
}
.subtitle {
  display: inline;
  font-family: 'Playfair Display SC', serif;
  font-size: 16px;
  color: $dark-gray;
}

.fake-link {
  cursor: pointer;
  color: $teal;
}
.fake-link:hover {
  color: $teal-medium;
}
.fake-link:active {
  color: $teal-dark;
}

.teal {
  color: $teal;
}

a {
  color: inherit;
}
a:hover {
  color: $teal-medium;
}
a:active {
  color: $teal-dark;
}

p {
  text-align: justify;
}
.center {
  text-align: center;
}
.no-margin {
  margin: 0;
}

img.quote {
  max-width: 40px;
  padding: 0 20px;
}

hr {
  border: none;
  height: 1px;
  background-color: $black-gray;
  width: 50%;
  margin: 10px auto;
}
hr.lg-margin {
  margin: 50px auto;
}
hr.med-margin {
  margin: 30px auto;
}
hr.white {
  background-color: white;
}

.background {
  z-index: -100 !important;
}

.body-container {
  overflow: hidden;
  background-color: white;
  min-height: 100vh;
  @include transition(all 0.5s);
}

.body-container.modal-open {
  .header {
    height: 0;
    padding: 0;
  }

  .footer {
    height: 0;
    overflow: hidden;
  }
}


// Popup menu
.popup.open {
  height: 100vh;
  overflow-y: auto;
  @include transition(height 0.5s);

  .popup-content {
    opacity: 1;
    @include transition(all 0.5s);
  }
}

.popup {
  z-index: 10;
  background-color: $dark-gray;
  height: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include shadow(0 6px 10px -1px $black-gray);
  @include transition(height 0.5s, z-index 0.5s 0.5s);

  .popup-content {
    text-align: center;
    padding-top: 20px;
    color: white;
    opacity: 0;
    @include transition(all 0.5s);

    .menu-item {
      padding: 10px 0;

      img.awkward-icon {
        height: 150px;
        margin-top: 50px;
      }
    }

    .logo {
      max-width: 250px;
      padding: 50px;
    }
  }
}



// Header
.header {
  color: white;
  background-color: $black-gray;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  z-index: 15;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include disable-select;
  @include border-radius(50%);
  @include transition(all 0.2s);

  .menu-item {
    display: none;
  }

  .hamburger-icon {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    @include transition(all 0.5s);

    span {
      display: block;
      position: relative;
      height: 2px;
      width: 22px;
      background-color: white;
      margin: 5px 0;
      @include transform-origin(left center);
      @include transition(all 0.5s);
    }
  }
  .hamburger-icon.open {
    @include transform(translateX(2.5px));
    @include transition(all 0.5s);

    span {
      @include transition(all 0.5s);
    }
    span:nth-child(1) {
      @include transform(rotate(41deg));
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      @include transform(rotate(-41deg));
    }
  }
}

// Vertical Centered Container
.vc-container {

  img.bg, video.bg, div.bg {
    display: inline-block;
    object-fit: cover;
    position: absolute;
    height: 120%;
    height: calc(120% + 50px);
    width: 100%;
    width: calc(100% + 50px);
    left:48%;
    left: calc(50% - 25px);
    top:-25px;
    margin:auto;
    transform: translate(-50%, 0);
    z-index: -1;
  }
  div.bg {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .vc-blurb {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    max-height: 80%;
    overflow: hidden;
    padding: 50px;
    margin: 90px 0;
    background-color: transparentize(white, 0.4);

    h2, h3 {
      margin-top: 0;
    }
  }
}
.vc-container::before {
  content: '';
  display: inline-block;
  height: $section-height;
  vertical-align: middle;
}

.vc-content {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width: 1000px;
  margin: 50px 0;

  h2 {
    margin-top: 0;
  }
}

// Sections Containers for content
.section {
  position: relative;
  min-height: $section-height;
  text-align: center;
  background-color: $white-gray;
  overflow: hidden;
  z-index: 5;
}
.section.full-page {
  min-height: 100vh;
  padding-bottom: 60px;

  .vc-content {
    margin: 0;
  }
}
.section.top {
  @include shadow(0 1px 18px -1px $black-gray);
}
.section.bottom, .section.full-page {
  @include shadow(0 6px 10px -1px $black-gray);
}

.button {
  display: inline-block;
  margin: 10px 0;
  padding: 15px 30px;
  border: 1px solid $off-black;
  border-radius: 10px;
  text-decoration: none;
  text-shadow: none;
  color: white;
  background-color: $dark-gray;
  min-width: 140px;
}
.button:hover {
  background-color: $black-gray;
}
.button:active {
  background-color: $black-gray-darker;
}

.grav-lightslider {
  position: relative;
  z-index: 5;
  background-color: $white-gray;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;

  li img {
    height: 300px;
    object-fit: cover;
  }
}

.slideshow-image-placeholder {
   height: 300px;
 }


// Footer
.footer {
  background-color: $dark-gray;
  position: relative;
  overflow: hidden;
  font-size: 14px;

  a {
    text-decoration: none;
  }

  .footer-spacer {
    height: $footer-height;
  }

  .footer-body {
    position: fixed;
    height: 200px;
    width: 100%;
    bottom: 250px;
    color: white;
    text-align: center;

    .logo {
      // max-width: 250px;
      max-height: 65px;
    }
    img.awkward-icon {
      height: 120px;
      margin: 10px 0;
    }
  }

  .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 8px;
  }

  .footer-banner {
    width: 100%;
    background-color: $black-gray;
    color: white;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 12px;
    position: fixed;
    bottom: 0;

    .content {
      padding: 5px 10px;
    }
  }
}



// Tablet and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 720px) {
  h1{
    font-size: 52px;
  }
  h2 {
    font-size: 36px;
  }

  .header {
    color: white;
    background-color: $black-gray-transluscent;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0;
    @include transition(all 0.2s);
    @include shadow(0 -1px 10px 2px transparentize($black-gray, 0.4));

    .menu-item {
      display: inline-block;
      text-align: center;
      padding: 5px 15px;
      max-height: 70px;
      @include transition(all 0.3s);
    }
    .menu-item.logo {
      cursor: pointer;
      height: 100%;

      svg {
        cursor: pointer;
      }
    }
    .menu-item.awkward-icon {
      position: absolute;
      left: 20px;
      top: 4px;
      opacity: 0;

      img {
        height: 50px;
      }
    }

    .hamburger-icon {
      display: none;
    }
  }

  .header.mini {
    height: 50px;
    background-color: $black-gray;
    @include transition(all 0.5s);

    .menu-item {
      max-height: 40px;
      font-size: 14px;
      @include transition(all 0.3s);
    }
    .menu-item.awkward-icon {
      display: inline-block;
      cursor: pointer;
      opacity: 1;
      @include transition(all 0.3s 0.3s);
    }
  }

  .popup.open {
    display: none;
  }
  .body-container.popup-open {
    @include transform(initial);
  }

  .section {
    padding: 60px 0;
  }
  .section.full-page {
    padding: 100px 0 60px 0;
  }

  .grav-lightslider {
    li img {
      height: 400px;
      object-fit: cover;
    }
  }

}


// Laptops and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 1000px) {
  h1{
    font-size: 64px;
  }
  h2 {
    font-size: 42px;
  }

  .header {
    height: 100px;

    .menu-item {
      max-height: 75px;
    }
  }
  .header.mini {
    height: 70px;

    .menu-item {
      max-height: 55px;
    }
    .menu-item.awkward-icon {
      top: 14px;
    }
  }

  .section {
    padding: 80px 0;
  }
  .section.full-page {
    padding: 120px 0 80px 0;
  }

  .grav-lightslider {
    li img {
      height: 500px;
      object-fit: cover;
    }
  }
}


// Extra short screens (ex. landscape phone)
// --------------------------------------------------------------------------------------------------------------
@media (max-height: 500px) {
  $footer-height-mini: 330px;
  .footer {
    .footer-spacer {
      height: $footer-height-mini;
    }
    .footer-body {
      bottom: 100px;

      img.awkward-icon {
        display: none;
      }
    }
  }
}
