{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="section full-page">
        <div class="vc-content center">
            {{ page.content }}

            {% if page.header.homeLink == true %}
                <br>
                <br>
                <a href="{{ base_url }}/">Return to Home Page</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
