@import "variables";


// Splash (above fold)
.splash-fullscreen-fixed {
  background-color: $neutral;
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 0 8px $dark-gray-transluscent;
  z-index: 2;

  h1, h3 {
    color: white;
  }
  hr {
    @include shadow(0px 0px 8px $black-gray);
  }
}
.splash-fullscreen-fixed.vc-container::before {
  height: 100%;
}

.splash-fullscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.splash-fullscreen.vc-container::before {
  height: 100%;
}


.contact-form {
  position: relative;
  width: 80%;
  padding: 30px;
  margin: 10px auto;

  h4 {
    margin: 10px;
    text-align: left;
  }
  h4:first-of-type {
    margin-top: 0;
  }

  input, select, textarea {
    padding: 15px;
    color: inherit;
    font: inherit;
    font-size: smaller;
    width: 95%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-bottom: 5px;
    border: 1px solid $dark-gray;
    background-color: white;
  }
  textarea {
    resize: vertical;
    min-height: 200px;
  }
  input[type=submit] {
    background-color: $teal;
    color: white;
    padding: 15px 30px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: $teal-medium;
  }
  input[type=submit]:active {
    background-color: $teal-dark;
  }
}


// Tablet and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 720px) {

  .slideshow {
    height: 400px;
  }
}


// Laptops and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 1000px) {

  .slideshow {
    height: 500px;
  }
}
