{% set image = page.media.images|first %}

<div class="section vc-container">
    <div class="bg" style="background-image: url({{ image.url }});"></div>
    <div class="vc-blurb">
        {{ content }}
    </div>
</div>