{% set collection = page.collection() %}

<div class="section vc-container">
    <div class="vc-content">
        {% for page in collection %}
            <h3>content</h3>
            {{ page.content }}
        {% endfor %}
    </div>
</div>
