{% set image = page.media.images|first %}

<div class="splash-fullscreen-fixed vc-container" id="main-splash">
    <div class="bg" id="bg-image" style="background-image: url({{ image.url }});"></div>
    <div class="vc-content">
        <h1 class="no-margin">Linda Carter</h1>
        <hr class="white">
        <h3 class="center">Ranch Broker</h3>
        <a class="button" href="#">View Properties</a>
    </div>
</div>
<div class="splash-fullscreen vc-container background"></div>
