body {
  padding: 0;
  margin: 0;
  min-width: 300px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.5;
  font-size: 18px;
  background-color: #414042;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif; }

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 42px;
  text-transform: uppercase;
  color: #323133;
  font-weight: 900; }

h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #414042;
  font-weight: 900; }

h3 {
  font-family: 'Playfair Display SC', serif;
  font-size: 24px;
  color: #414042; }

h3.lg-margin {
  margin: 20px 0; }

h4 {
  font-family: 'Playfair Display SC', serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #414042; }

p {
  text-align: justify; }

.center {
  text-align: center; }

.no-margin {
  margin: 0; }

img.quote {
  max-width: 40px;
  padding: 0 20px; }

hr {
  border: none;
  height: 1px;
  background-color: #323133;
  width: 50%;
  margin: 10px auto; }

hr.white {
  background-color: white; }

.background {
  z-index: -100 !important; }

.body-container {
  overflow: hidden;
  background-color: white;
  min-height: 100vh;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.popup.open {
  height: 100vh;
  z-index: 10;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }
  .popup.open .popup-content {
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.popup {
  height: 0;
  background-color: #414042;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 6px 10px -1px #323133;
  -moz-box-shadow: 0 6px 10px -1px #323133;
  box-shadow: 0 6px 10px -1px #323133;
  -webkit-transition: height 0.5s, z-index 0.5s 0.5s;
  -moz-transition: height 0.5s, z-index 0.5s 0.5s;
  -ms-transition: height 0.5s, z-index 0.5s 0.5s;
  -o-transition: height 0.5s, z-index 0.5s 0.5s;
  transition: height 0.5s, z-index 0.5s 0.5s; }
  .popup .popup-content {
    text-align: center;
    padding-top: 20px;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .popup .popup-content .menu-item {
      padding: 10px 0; }
      .popup .popup-content .menu-item img.awkward-icon {
        height: 150px;
        margin-top: 50px; }
    .popup .popup-content .logo {
      max-width: 250px;
      padding: 50px; }

.header {
  color: white;
  background-color: #323133;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  z-index: 15;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .header .menu-item {
    display: none; }
  .header .hamburger-icon {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .header .hamburger-icon span {
      display: block;
      position: relative;
      height: 2px;
      width: 22px;
      background-color: white;
      margin: 5px 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -ms-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
  .header .hamburger-icon.open {
    -webkit-transform: translateX(2.5px);
    -moz-transform: translateX(2.5px);
    -ms-transform: translateX(2.5px);
    -o-transform: translateX(2.5px);
    transform: translateX(2.5px);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .header .hamburger-icon.open span {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .header .hamburger-icon.open span:nth-child(1) {
      -webkit-transform: rotate(41deg);
      -moz-transform: rotate(41deg);
      -ms-transform: rotate(41deg);
      -o-transform: rotate(41deg);
      transform: rotate(41deg); }
    .header .hamburger-icon.open span:nth-child(2) {
      opacity: 0; }
    .header .hamburger-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-41deg);
      -moz-transform: rotate(-41deg);
      -ms-transform: rotate(-41deg);
      -o-transform: rotate(-41deg);
      transform: rotate(-41deg); }

.splash-fullscreen-fixed {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 0 8px rgba(65, 64, 66, 0.8);
  z-index: 2; }
  .splash-fullscreen-fixed h1, .splash-fullscreen-fixed h3 {
    color: white; }
  .splash-fullscreen-fixed hr {
    -webkit-box-shadow: 0px 0px 8px #323133;
    -moz-box-shadow: 0px 0px 8px #323133;
    box-shadow: 0px 0px 8px #323133; }

.splash-fullscreen-fixed.vc-container::before {
  height: 100%; }

.splash-fullscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 2; }

.splash-fullscreen.vc-container::before {
  height: 100%; }

.vc-container img.bg, .vc-container video.bg {
  object-fit: cover;
  position: absolute;
  height: 120%;
  height: calc(120% + 50px);
  width: 100%;
  width: calc(100% + 50px);
  left: 48%;
  left: calc(50% - 25px);
  top: -25px;
  margin: auto;
  transform: translate(-50%, 0);
  z-index: -1; }
.vc-container .vc-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width: 1000px;
  margin: 50px 0; }
  .vc-container .vc-content h2 {
    margin-top: 0; }
.vc-container .vc-blurb {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 60%;
  max-height: 80%;
  overflow: hidden;
  padding: 50px;
  margin: 90px 0;
  background-color: rgba(255, 255, 255, 0.6); }
  .vc-container .vc-blurb h2, .vc-container .vc-blurb h3 {
    margin-top: 0; }

.vc-container::before {
  content: '';
  display: inline-block;
  height: 650px;
  vertical-align: middle; }

.section {
  position: relative;
  min-height: 650px;
  text-align: center;
  background-color: white;
  overflow: hidden;
  z-index: 5; }

.section.top {
  -webkit-box-shadow: 0 1px 18px -1px #323133;
  -moz-box-shadow: 0 1px 18px -1px #323133;
  box-shadow: 0 1px 18px -1px #323133; }

.section.bottom {
  -webkit-box-shadow: 0 6px 10px -1px #323133;
  -moz-box-shadow: 0 6px 10px -1px #323133;
  box-shadow: 0 6px 10px -1px #323133; }

.button {
  display: inline-block;
  margin: 10px 0;
  padding: 15px 30px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  text-decoration: none;
  text-shadow: none;
  color: white;
  background-color: #414042;
  min-width: 140px; }

.button:hover {
  background-color: #323133; }

.button:active {
  background-color: #2c2b2d; }

.slideshow {
  position: relative;
  display: inline-block;
  height: 300px;
  background-color: #414042;
  margin-bottom: 30px;
  font-size: 0;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 10px -1px #323133;
  -moz-box-shadow: 2px 2px 10px -1px #323133;
  box-shadow: 2px 2px 10px -1px #323133; }
  .slideshow .image-container {
    height: 100%;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .slideshow .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.3;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .slideshow .image-container img.active {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  .slideshow .slideshow-button {
    display: inline-block;
    position: absolute;
    top: 50%;
    top: calc(50% - 30px);
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #414042;
    color: white;
    font-size: 30px;
    line-height: 54px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .slideshow .slideshow-button:hover {
    width: 90px;
    height: 90px;
    line-height: 82px;
    font-size: 50px;
    top: calc(50% - 45px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .slideshow .slideshow-button.prev {
    left: -30px; }
  .slideshow .slideshow-button.prev:hover {
    left: -45px; }
  .slideshow .slideshow-button.next {
    right: -30px; }
  .slideshow .slideshow-button.next:hover {
    right: -45px; }

.contact-form {
  position: relative;
  width: 80%;
  padding: 30px;
  margin: 10px auto; }
  .contact-form h4 {
    margin: 10px;
    text-align: left; }
  .contact-form h4:first-of-type {
    margin-top: 0; }
  .contact-form input, .contact-form select, .contact-form textarea {
    padding: 15px;
    color: inherit;
    font: inherit;
    font-size: smaller;
    width: 95%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-bottom: 5px;
    border: 1px solid #414042;
    background-color: white; }
  .contact-form textarea {
    resize: vertical;
    min-height: 200px; }
  .contact-form input[type=submit] {
    background-color: #62C3A6;
    color: white;
    padding: 15px 30px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px; }
  .contact-form input[type=submit]:hover {
    background-color: #5CB89C; }
  .contact-form input[type=submit]:active {
    background-color: #51a289; }

.footer {
  background-color: #414042;
  position: relative;
  overflow: hidden;
  font-size: 14px; }
  .footer .footer-spacer {
    height: 500px; }
  .footer .footer-body {
    position: fixed;
    height: 200px;
    width: 100%;
    bottom: 250px;
    color: white;
    text-align: center; }
    .footer .footer-body .logo {
      max-width: 250px; }
    .footer .footer-body img.awkward-icon {
      height: 120px;
      margin: 10px 0; }
  .footer .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 8px; }
  .footer .social-icon#fb {
    background-image: url(../resources/icons/fb.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-position: center center;
    background-size: 40px 40px; }
  .footer .social-icon#fb:hover {
    background-image: url(../resources/icons/fb-teal.svg); }
  .footer .social-icon#fb:active {
    background-image: url(../resources/icons/fb-teal-dark.svg); }
  .footer .footer-banner {
    width: 100%;
    background-color: #323133;
    color: white;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 12px;
    position: fixed;
    bottom: 0; }
    .footer .footer-banner .content {
      padding: 5px 10px; }

@media (min-width: 720px) {
  h1 {
    font-size: 52px; }

  h2 {
    font-size: 36px; }

  .header {
    color: white;
    background-color: rgba(50, 49, 51, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-shadow: 0 -1px 10px 2px rgba(50, 49, 51, 0.6);
    -moz-box-shadow: 0 -1px 10px 2px rgba(50, 49, 51, 0.6);
    box-shadow: 0 -1px 10px 2px rgba(50, 49, 51, 0.6); }
    .header .menu-item {
      display: inline-block;
      padding: 5px 15px;
      max-height: 70px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .header .menu-item.awkward-icon {
      position: absolute;
      left: 20px;
      top: 4px;
      opacity: 0; }
      .header .menu-item.awkward-icon img {
        height: 50px; }
    .header .hamburger-icon {
      display: none; }

  .header.mini {
    height: 50px;
    background-color: #323133;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .header.mini .menu-item {
      max-height: 40px;
      font-size: 14px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .header.mini .menu-item.awkward-icon {
      opacity: 1;
      -webkit-transition: all 0.3s 0.3s;
      -moz-transition: all 0.3s 0.3s;
      -ms-transition: all 0.3s 0.3s;
      -o-transition: all 0.3s 0.3s;
      transition: all 0.3s 0.3s; }

  .popup.open {
    display: none; }

  .body-container.popup-open {
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial; }

  .section {
    padding: 60px 0; } }
@media (min-width: 1000px) {
  h1 {
    font-size: 64px; }

  h2 {
    font-size: 42px; }

  .header {
    height: 100px; }
    .header .menu-item {
      max-height: 75px; }

  .header.mini {
    height: 70px; }
    .header.mini .menu-item {
      max-height: 55px; }
    .header.mini .menu-item.awkward-icon {
      top: 14px; }

  .section {
    padding: 80px 0; } }

/*# sourceMappingURL=index.css.map */
