// Colors
$white-tp-light: rgba(255,255,255,0.4);
$white-tp-dark: rgba(255,255,255,0.9);
$neutral: #DDDDDD;
$primary-1: #b1e1e6;
$medium-gray: #BBBBBB;
$medium-gray-transluscent: rgba(187,187,187,0.8);
$dark-gray: #414042;
$black-gray: #323133;
$black-gray-transluscent: rgba(50,49,51, 0.9);
$off-black: rgba(0,0,0,0.9);

// Layout Sizing
$section-height: 650px;
$footer-height: 300px;

@mixin transition($arg...) {
  -webkit-transition: $arg;
  -moz-transition: $arg;
  -ms-transition: $arg;
  -o-transition: $arg;
  transition: $arg;
}

@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin transform($arg...) {
  -webkit-transform: $arg;
  -moz-transform: $arg;
  -ms-transform: $arg;
  -o-transform: $arg;
  transform: $arg;
}

body {
  padding: 0;
  margin: 0;
  color: $off-black;
  font-family: 'Noto Serif', serif;
  line-height: 1.5;
  font-size: 14px;
  background-color: $dark-gray;
  min-height: 100vh;
}

h1 {
  font-family: montserratbold, sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  color: $black-gray;
}
h2 {
  font-family: montserratbold, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: $dark-gray;
}
h4 {
  font-family: montserratregular, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-gray;
}

p {
  text-align: justify;
}

p.center {
  text-align: center;
}


.body-container {
  overflow: hidden;
  background-color: white;
  @include transition(all 0.5s);
}


// Popup menu
.popup.open {
  height: 100vh;
  z-index: 10;
  @include transition(height 0.5s);

  .popup-content {
    opacity: 1;
    @include transition(all 0.5s);
  }
}

.popup {
  height: 0;
  background-color: $dark-gray;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include transition(height 0.5s, z-index 0.5s 0.5s);

  .popup-content {
    text-align: center;
    padding-top: 20px;
    color: white;
    opacity: 0;
    @include transition(all 0.5s);

    .menu-item {
      padding: 10px 0;
    }
  }
}



// Header
.header {
  color: white;
  background-color: $black-gray;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  z-index: 15;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include border-radius(50%);
  @include transition(all 0.2s);

  .menu-item {
    display: none;
  }

  .hamburger-icon {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
}

// Splash (above fold)
.splash-fullscreen-fixed {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.splash-fullscreen-fixed.vc-container::before {
  height: 100%;
}

.splash-fullscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.splash-fullscreen.vc-container::before {
  height: 100%;
}

// Vertical Centered Container
.vc-container {

  img.bg, video.bg {
    object-fit: cover;
    position: absolute;
    height: inherit;
    height: calc(100% + 50px);
    width: 100%;
    width: calc(100% + 50px);
    left:48%;
    left: calc(50% - 25px);
    top:-25px;
    margin:auto;
    transform: translate(-50%, 0);
    z-index: -1;
  }

  .vc-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: 50px 0;

    h2, h3 {
      margin-top: 0;
    }
  }

  .vc-blurb {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    max-height: 80%;
    overflow: hidden;
    padding: 50px;
    background-color: $medium-gray-transluscent;

    h2, h3 {
      margin-top: 0;
    }
  }
}
.vc-container::before {
  content: '';
  display: inline-block;
  height: $section-height;
  vertical-align: middle;
}

// Sections Containers for content
.section {
  position: relative;
  min-height: $section-height;
  text-align: center;
  background-color: #FFFFFF;
  z-index: 5;
}

.section#about-us{
  background: none;
}

// Footer
.footer {
  background-color: $dark-gray;
  position: relative;
  overflow: hidden;

  .footer-spacer {
    height: $footer-height;
  }

  .footer-body {
    position: fixed;
    height: 200px;
    width: 100%;
    bottom: 50px;
    color: white;
    text-align: center;
  }

  .footer-banner {
    width: 100%;
    background-color: $black-gray;
    color: white;
    text-align: right;
    font-family: montserratultra_light, sans-serif;
    font-size: 12px;
    position: fixed;
    bottom: 0;

    .content {
      padding: 5px 10px;
    }
  }
}



// Tablet and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 720px) {
  h1{
    font-size: 52px;
  }
  h2 {
    font-size: 36px;
  }

  .header {
    color: white;
    background-color: $black-gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include transition(all 0.2s);
    border-radius: 0;

    .menu-item {
      display: inline-block;
      padding: 5px;
      @include transition(all 0.3s);
    }

    .hamburger-icon {
      display: none;
    }
  }

  .popup.open {
    display: none;
  }
  .body-container.popup-open {
    @include transform(initial);
  }
;
}


// Laptops and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 1000px) {
  h1{
    font-size: 64px;
  }
  h2 {
    font-size: 42px;
  }
}
